.App-logo {
    height: 50vmin;
    pointer-events: none;
}

.App-title-font {
    font-size: calc(30px + 2vmin);
    margin-top: -55px;
}

.Landing-body-font {
    margin-top: -30px;
    margin-bottom: 20px;
}

.App-header {
    margin-top: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}