.Main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: calc(20px + 2vmin);
    font-palette: dark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: min-content;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    background-color: ghostwhite;
}

.Main-text-header {
    margin-top: 15px;
    margin-left: 10px;
}

.Main-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #808080;
    height: 800px;
}

.Main-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgrey;
    height: 60%;
    width: 80%;
    margin-top: 20px;
}

.Main-img {
    margin-top: 10px;
    height: 100px;
}
